.about {
  &__card.card {
    width: 45%;
    margin: 0.5em;
    background-color: #0b879d;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    color: white;
  }
  &__intro.row {
    margin: 0px;
    background: #edcf00 0% 0% no-repeat padding-box;
    .col-sm-6:first-of-type {
      padding: 10em 4.4em 10em 5em;
      width: 50%;
    }
    .col-sm-6:last-of-type {
      background: url("../../assets/images/aboutIntro.png") center no-repeat;
      background-size: cover;
    }
  }
  h3 {
    text-align: left;
    font: normal normal normal 2.125em/2.8rem Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
  }
  p {
    text-align: left;
    font: normal normal normal 1em/1.5rem Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  &__fields {
    margin: 0 !important;
    padding: 5rem 6.25rem 4.25rem 6.25rem;
    &--intro {
      h3 {
        margin-bottom: 3.75rem;
      }
      p {
        padding: 0 5rem;
      }
    }
    .rc-tabs-tabpane {
      padding: 0 5rem;
    }
    .rc-tabs {
      border: none !important;
    }
    .rc-tabs-nav-list {
      border: none !important;
      display: flex;
      justify-content: space-between;
    }
    .rc-tabs-nav-operations,
    .rc-tabs-ink-bar {
      display: none;
    }
    .rc-tabs-tab {
      background: #fafafa 0% 0% no-repeat padding-box;
      margin-bottom: 0.625rem;
    }
    .rc-tabs-tab .rc-tabs-tab-btn {
      font-weight: normal;
      width: 17.75rem;
      height: 6.25rem;
      background: #fafafa 0% 0% no-repeat padding-box;
      color: #000;
      text-align: center;
      font: normal normal normal 1.5em/2.125rem Roboto Slab;
      letter-spacing: 0px;
      padding: 2.125rem 0;
    }
    .rc-tabs-tab.rc-tabs-tab-active {
      background: #edcf00 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 60px #0000001a;
      .rc-tabs-tab-btn {
        background: #edcf00 0% 0% no-repeat padding-box;
      }
    }
    .rc-tabs-content-holder {
      padding-top: 2.5rem;
    }
  }
  &__work.row {
    margin: 0px;
    background: #edcf00 0% 0% no-repeat padding-box;
    .col-sm-6:last-of-type {
      padding: 4.375rem;
      width: 50%;
    }
    .col-sm-6:first-of-type {
      background: url("../../assets/images/aboutRoad.png") center no-repeat;
      background-size: cover;
    }
  }
  &__consultants,
  &__team {
    margin: 0 !important;
    &--slider {
      width: 100%;
      opacity: 1;
      height: 15.625rem;
      padding: 0 5rem;
      &-content.col {
        max-width: 75rem;
      }

      .slick-dots {
        bottom: 2rem;
        left: 0;
      }

      .slick-dots li button:before {
        font-size: 0.625rem;
      }

      .slick-dots li.slick-active button:before {
        font-size: 0.875rem;
      }
    }
    h3 {
      margin-bottom: 3.75rem;
    }
    padding: 4.35rem 4rem 0 4rem;
    .social-icon {
      font-size: 1.25em;
      width: 2.5rem;
      vertical-align: middle;
      color: black;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      &:hover {
        opacity: 1;
        color: #222222;
        text-decoration: none;
      }
    }
    &--person {
      overflow: hidden;
      width: 30%;
      height: 31.25rem;
      transition: ease 0.5s;
      .about__team--desc {
        display: none;
        transition: ease 1s;
      }
      &:hover {
        background: rgba(237, 207, 0, 0.9);
        .about__team--desc {
          display: unset;
        }
      }
      &-1 {
        background: url("../../assets/images/team/kmizio.png") center no-repeat;
        background-size: cover;
      }
      &-2 {
        background: url("../../assets/images/team/mjaryczewska.png") center
          no-repeat;
        background-size: cover;
      }
      &-3 {
        background: url("../../assets/images/team/mtruong.png") center no-repeat;
        background-size: cover;
      }
      &-4 {
        background: url("../../assets/images/team/mtrzesimiech.png") center
          no-repeat;
        background-size: cover;
      }
      &-5 {
        background: url("../../assets/images/team/mtischner.png") center
          no-repeat;
        background-size: cover;
      }
      &-6 {
        background: url("../../assets/images/team/mhawelka.png") center
          no-repeat;
        background-size: cover;
      }
    }
    &--consultant {
      &-1 {
        background: url("../../assets/images/team/consulting/ksarek.png") center
          no-repeat;
        background-size: cover;
      }
      &-2 {
        background: url("../../assets/images/team/consulting/dgogloza.png")
          center no-repeat;
        background-size: cover;
      }
      &-3 {
        background: url("../../assets/images/team/consulting/mwozniak.png")
          center no-repeat;
        background-size: cover;
      }
      &-4 {
        background: url("../../assets/images/team/consulting/dwyrzykowski.png")
          center no-repeat;
        background-size: cover;
      }
    }
    &--details {
      padding: 2.5rem;
    }
    img {
      pointer-events: none;
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
    &--consultants {
      overflow: hidden;
      .about__team--details {
        padding: 2.5rem 14.687rem 2.5rem 2.5rem;
      }
      .about__team--person {
        overflow: hidden;
        width: 50%;
        height: 12.5rem;
        transition: ease 0.5s;
        .about__team--desc {
          display: none;
          transition: ease 1s;
        }
      }
    }
  }
}

.about__consultants.row {
  padding: 4.35rem 0 0 0;
  margin: 0;
  .col {
    padding: 0;
  }
}

@media (max-width: 1365px) {
  .about__fields {
    padding: 5rem 0;
    .col {
      padding: 0;
    }
    .rc-tabs-tab-btn {
      width: 16rem;
    }
    .rc-tabs-nav-list {
      justify-content: space-around;
    }
  }
}

@media (max-width: 991px) {
  .about {
    &__team {
      &--person {
        width: 50%;
        height: 50rem;
      }
    }
  }
  .rc-tabs-nav-list {
    flex-wrap: wrap;
  }
  .about__fields {
    .rc-tabs-tab {
      width: 50%;
      .rc-tabs-tab-btn {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__team {
      &--person {
        width: 50%;
        height: 31.25rem;
      }
    }
    &__consultants {
      .about__team--person {
        width: 100%;
        height: 16rem;
      }
    }
    img {
      pointer-events: none;
      position: absolute;
      width: 50%;
      height: 50%;
      min-width: 50%;
      min-height: 50%;
      z-index: -1;
    }
  }
}

@media (max-width: 575.98px) {
  .about__intro.row {
    flex-direction: column-reverse;
    .col-sm-6:first-of-type {
      width: 100%;
    }

    .col-sm-6:last-of-type {
      height: 30rem;
    }
  }
  .about__work.row {
    flex-direction: column;
    .col-sm-6:last-of-type {
      width: 100%;
    }

    .col-sm-6:first-of-type {
      height: 30rem;
    }
  }
}
