.about {
  &__card.card {
    width: 45%;
    margin: 0.5em;
    background-color: #0b879d;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    color: white;
  }
}
