.about {
  &__card.card {
    width: 45%;
    margin: 0.5em;
    background-color: #0b879d;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    color: white;
  }
  &__intro.row {
    margin: 0px;
    background: #edcf00 0% 0% no-repeat padding-box;
    .col-sm-6:first-of-type {
      padding: 10em 4.4em 10em 5em;
      width: 50%;
    }
    .col-sm-6:last-of-type {
      background: url("../../assets/images/aboutIntro.png") center no-repeat;
      background-size: cover;
    }
  }
  h3 {
    text-align: left;
    font: normal normal normal 2.125em/2.8rem Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
  }
  p {
    text-align: left;
    font: normal normal normal 1em/1.5rem Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  &__fields {
    padding: 5rem 6.25rem 4.25rem 6.25rem;
    &--intro {
      h3 {
        margin-bottom: 3.75rem;
      }
      p {
        padding: 0 5rem;
      }
    }
    .rc-tabs-tabpane {
      padding: 0 5rem;
    }
    .rc-tabs {
      border: none !important;
    }
    .rc-tabs-nav-list {
      border: none !important;
      display: flex;
      justify-content: space-between;
    }
    .rc-tabs-nav-operations,
    .rc-tabs-ink-bar {
      display: none;
    }
    .rc-tabs-tab {
      background: #fafafa 0% 0% no-repeat padding-box;
      margin-bottom: 0.625rem;
    }
    .rc-tabs-tab .rc-tabs-tab-btn {
      font-weight: normal;
      width: 17.75rem;
      height: 6.25rem;
      background: #fafafa 0% 0% no-repeat padding-box;
      color: #000;
      text-align: center;
      font: normal normal normal 1.5em/2.125rem Roboto Slab;
      letter-spacing: 0px;
      padding: 2.125rem 0;
    }
    .rc-tabs-tab.rc-tabs-tab-active {
      background: #edcf00 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 60px #0000001a;
      .rc-tabs-tab-btn {
        background: #edcf00 0% 0% no-repeat padding-box;
      }
    }
    .rc-tabs-content-holder {
      padding-top: 2.5rem;
    }
  }
  &__work.row {
    margin: 0px;
    background: #edcf00 0% 0% no-repeat padding-box;
    .col-sm-6:last-of-type {
      padding: 4.375rem;
      width: 50%;
    }
    .col-sm-6:first-of-type {
      background: url("../../assets/images/aboutRoad.png") center no-repeat;
      background-size: cover;
    }
  }
}
