.content-preview-section {
  max-width: 1366px;
  &.row {
    margin: 0;
  }
  &__label {
    opacity: 0.6;
    font-family: Raleway, sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__heading {
    margin-bottom: 10px;
    font-family: Raleway, sans-serif;
    font-size: 34px;
    text-align: left;
    font: normal normal normal 34px/45px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  &__text {
    text-align: left;
    font: normal normal normal 16px/24px Raleway;
    letter-spacing: 0px;
    margin-bottom: 0px;
    color: #000000;
    opacity: 1;
  }
  &__button.btn {
    padding: 12px 25px;
    border-radius: 0px;
    margin-top: 20px;
    background: #0b879d 0% 0% no-repeat padding-box;
    opacity: 1;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font: normal normal bold 12px/14px Raleway;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .content-preview-section__column {
    padding: 0px;
  }
  &__column.content-preview-section__info {
    padding: 50px 70px;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 1199.98px) {
  .content-preview-section {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .content-preview-section.flex-row-reverse,
  .content-preview-section.flex-row {
    flex-direction: column-reverse !important;
    align-items: center;
    .content-preview-section__column {
      max-width: 80%;
      flex: 0 0 80%;
    }
  }
}

@media (max-width: 767.98px) {
  .content-preview-section {
    &__heading {
      font-size: 25px;
    }
    &__button {
      width: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .content-preview-section.flex-row-reverse,
  .content-preview-section.flex-row {
    .content-preview-section__column {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}
