.activities {
  h3 {
    text-align: center;
    font: normal normal normal 34px/45px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    margin-top: 70px;
  }
  &__media {
    &--btn {
      p {
        margin-bottom: 0;
      }
      background: #fafafa 0% 0% no-repeat padding-box;
      text-align: left;
      font: normal normal bold 16px/34px Raleway;
      letter-spacing: 0px;
      color: #000000;
      text-transform: uppercase;
      width: 336px;
      height: 60px;
      padding: 13px 20px;
      border: 0px;
      transition: 0.25s ease;
      -webkit-transition: 0.25s ease;
      -moz-transition: 0.25s ease;
      -ms-transition: 0.25s ease;
      -o-transition: 0.25s ease;
    }

    &--btn:hover {
      background: #fafafa 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 60px #0000001a;
    }
  }
  &__paragraph {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: left;
    font: normal normal normal 16px/24px Raleway;
    letter-spacing: 0px;
    color: #000000;
  }
  &__cta {
    background: url('../../assets/images/cta-activities.png') center no-repeat;
    height: 530px;
    h2 {
      text-align: left;
      font: normal normal normal 34px/45px Roboto Slab;
      letter-spacing: 0px;
      color: #000000;
      margin-left: 160px;
      width: 440px;
    }
    p {
      text-align: left;
      font: normal normal normal 16px/24px Raleway;
      letter-spacing: 0px;
      color: #000000;
      margin-left: 160px;
      width: 440px;
    }
    input {
      width: 260px;
      margin-bottom: 20px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 0px;
      border-bottom: 2px solid #cccccc;
      padding-left: 13px;
      opacity: 1;
      height: 42px;
      font-size: 12px;
      font-family: Raleway;
      letter-spacing: 0px;
    }
    textarea {
      height: 100px !important;
      margin-bottom: 20px !important;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 0px;
      border-bottom: 2px solid #cccccc;
      padding-left: 13px;
      padding-top: 13px;
      width: 440px;
      opacity: 1;
      font-size: 12px;
      font-family: Raleway;
      letter-spacing: 0px;
    }
    .col:last-of-type {
      padding-left: 53px;
    }
  }
  &__col--narrow.col {
    padding-left: 183px;
    padding-right: 183px;
    margin-bottom: 70px;
  }
  &__advisory {
    .col {
      .col {
        max-width: 683px;
      }
    }
    background: #edcf00 0% 0% no-repeat padding-box;
    img {
      padding-left: 150px;
    }
    h1 {
      margin-top: 70px;
      margin-bottom: 60px;
      text-align: center;
      font: normal normal normal 34px/45px Roboto Slab;
      letter-spacing: 0px;
      color: #000000;
    }
    h4 {
      text-align: left;
      font: normal normal bold 16px/24px Raleway;
      letter-spacing: 0px;
      color: #000000;
      text-transform: uppercase;
    }
    p {
      text-align: left;
      font: normal normal normal 16px/24px Raleway;
      letter-spacing: -0.08px;
      color: #000000;
      padding-right: 160px;
    }
  }
}

@media (max-width: 1365px) {
  .activities__cta {
    h2,
    p {
      margin-left: 2rem;
      width: unset;
    }
  }
  .activities__advisory {
    .col {
      max-width: unset;
      width: 50%;
    }
    img {
      padding-left: 0;
    }
  }
  .activities__media--links {
    a {
      width: 30%;
      .activities__media--btn {
        width: 100%;
      }
    }
  }
}

@media (max-width: 991px) {
  .activities__advisory {
    p {
      padding-right: 0px;
    }
    .col {
      padding: 0;
    }
  }
  .activities__col--narrow.col {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .activities__cta {
    background: linear-gradient(
        0deg,
        rgba(11, 135, 157, 0.5) 4%,
        rgba(90, 174, 189, 0.5) 25%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      url('../../assets/images/cta-activities.png') center no-repeat;
    flex-direction: column;
    align-items: center;
    input,
    textarea {
      width: 80%;
    }
    h2,
    p {
      margin-left: 0;
      width: unset;
    }
    .col:last-of-type {
      padding-left: 15px;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .activities__cta,
  .activities__paragraph {
    h2,
    p {
      text-align: center;
    }
  }
  .activities__advisory {
    h4 {
      margin-top: 3rem;
    }
    .ea-row {
      flex-direction: column-reverse;
      .col {
        width: 100%;
        max-width: 100%;
        padding: 0 1em;
      }
    }
  }
  .activities__media--links {
    flex-direction: column;
    a {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 479px) {
  .activities__advisory {
    img {
      width: 100vw;
    }
  }
}
