.workshops {
  width: 1366px;
  h2 {
    margin-top: 200px;
    text-align: center;
    font: normal normal bold 16px/24px Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
  }
  h1 {
    margin-bottom: 109px;
    text-align: center;
    font: normal normal normal 54px/72px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}

@media (max-width: 1365px) {
  .testimonials {
    min-height: 45rem;
  }
}

@media (max-width: 991px) {
  .promoted-workshop {
    h3 {
      font-size: 1.5rem;
    }
  }
  .workshop-list .workshop-card:nth-of-type(even) {
    margin-left: 0;
  }
  .faq-item.card {
    width: 90vw;
  }
}

@media (max-width: 767px) {
  .promoted-workshop.d-flex {
    display: none !important;
  }
}

@media (max-width: 479px) {
  .ea-button.btn {
    width: 100%;
  }
}
