.footer {
  padding: 60px 0;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  background-color: #0b879d;
  opacity: 1;
  color: #fff;
  &__column {
    &:first-of-type {
      margin-left: 60px;
    }
    &:last-of-type {
      margin-left: 30px;
    }
  }
  h1 {
    text-align: left;
    font: normal normal normal 24px/32px Roboto Slab;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  &__item.nav-link {
    padding: 0px 1rem 0px 0px;
    text-align: left;
    font: normal normal bold 12px/34px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    &:hover {
      color: #222222;
    }
  }
  &__text {
    text-align: left;
    font: normal normal bold 12px/34px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
}

@media (max-width: 767.98px) {
  .footer__item {
    text-align: right;
  }
  .footer__info {
    font-size: 0.8rem;
  }
}

@media (max-width: 575.98px) {
  .footer {
    .d-flex {
      flex-direction: column-reverse !important;
    }
    .footer__nav {
      align-items: center !important;
      margin-bottom: 2em;
    }
    p {
      text-align: center;
      font-size: 0.5rem;
    }
  }
}
