.act {
  &__type.row {
    margin: 0px;
    background: #fafafa 0% 0% no-repeat padding-box;
    .col-12 {
      padding: 0px;
    }
    .act__type--desc {
      padding: 4.812rem 5.187rem;
      h3 {
        margin-bottom: 0.625rem;
        text-align: left;
      }
      button {
        margin-top: 1.437rem;
      }
    }
    .act__type--photo {
      img {
        width: 100%;
      }
    }
  }
  &__tabs.row {
    h3 {
      margin-top: 4.375rem;
      margin-bottom: 3.75rem;
    }
    margin: 0px;
    padding: 0 6.25rem;
    .rc-tabs {
      border: none !important;
      display: flex;
    }
    .rc-tabs-tab {
      padding: 0.312rem;
      background: #fafafa 0% 0% no-repeat padding-box;
      margin-bottom: 0.625rem;
    }
    .rc-tabs-tab .rc-tabs-tab-btn {
      font-weight: normal;
      width: 23.125rem;
      height: 6.25rem;
      background: #fafafa 0% 0% no-repeat padding-box;
      color: #000;
      text-align: left;
      font: normal normal normal 1.5em/2.125rem Roboto Slab;
      letter-spacing: 0px;
      padding: 2.125rem 2.5rem;
    }
    .rc-tabs-tab.rc-tabs-tab-active {
      background: #edcf00 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 60px #0000001a;
      .rc-tabs-tab-btn {
        background: #edcf00 0% 0% no-repeat padding-box;
      }
    }

    .rc-tabs-content-holder {
      padding-left: 3.5rem;
      h3 {
        margin: unset;
        margin-bottom: 0.625rem;
        text-align: left;
      }
      a {
        text-decoration: underline;
        color: #0b879d;
        font-weight: bold;
      }
      p:last-of-type {
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media (max-width: 1365px) {
  .act__type.row {
    .act__type--desc {
      padding: 2rem 3rem;
      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .act__type.row {
    .act__type--desc {
      padding: 1rem;
      p {
        margin-bottom: 0;
      }
    }
  }
  .act__tabs.row {
    padding: 1rem;
    .rc-tabs {
      flex-direction: column;
    }
    .rc-tabs-ink-bar {
      display: none;
    }
    .rc-tabs-content-holder {
      padding: 0 2rem;
    }
    .rc-tabs-nav-list {
      display: flex;
      justify-content: space-between;
    }
    .rc-tabs-tab {
      width: 30%;
      padding: 0;
      .rc-tabs-tab-btn {
        padding: 0;
        width: unset;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .act__tabs.row {
    .col {
      padding: 0;
    }
    .rc-tabs-tab {
      .rc-tabs-tab-btn {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-width: 479px) {
}
