.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .wide-spinner {
  height: 5rem;
  width: 5rem;
  margin: 10em auto;
  display: flex;
  color: #61dafb;
}

.ea-row.row {
  margin-left: 0px;
  margin-right: 0px;
}

.ea-container.container {
  max-width: 1366px;
  margin-bottom: 0px;
}

@media (max-width: 1365px) {
}

@media (max-width: 991px) {
  .app__footer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 479px) {
}
