@import './styles/variables';

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-track img {
  margin-left: auto;
  margin-right: auto;
}

.slick-list {
  width: 100%;
}

*:focus {
  outline: none;
}

h1 {
  text-align: center;
  font: normal normal normal 3.375em/4.5rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h2 {
  text-align: left;
  font: normal normal normal 2.75em/3.625rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h3 {
  text-align: center;
  font: normal normal normal 2.125em/2.812rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h4 {
  text-align: left;
  font: normal normal normal 1.5em/2rem Roboto Slab;
  letter-spacing: 0px;
  color: $color-dark;
  opacity: 1;
}

h5 {
  text-align: left;
  font: normal normal bold 1em/1.5rem Raleway;
  letter-spacing: 0px;
  color: $color-dark;
  text-transform: uppercase;
}

h6 {
  text-align: left;
  font: normal normal bold 0.75em/1.5rem Raleway;
  letter-spacing: 0px;
  color: $color-dark;
  text-transform: uppercase;
}

p {
  text-align: left;
  font: normal normal normal 1em/1.5rem Raleway;
  letter-spacing: 0px;
  color: $color-dark;
}

@media (max-width: 1365px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  html {
    font-size: 8px;
  }
}
