body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-track img {
  margin-left: auto;
  margin-right: auto;
}

.slick-list {
  width: 100%;
}

*:focus {
  outline: none;
}

@media (max-width: 1365px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
}
