.team-section {
  padding: 3em 0;
  &__member {
    border: 2px solid black;
    padding: 2em 0;
    margin-bottom: 1em;
    width: 30%;

    a {
      margin: 0.5em;
    }
    &-photo.card-img {
      width: 15vw;
      margin: auto;
    }
  }
  ul {
    padding: 0;
  }
}
