.promoted-workshop {
  width: 1166px;
  height: 420px;
  background: url("../../assets/images/recommended_workshop.png") center no-repeat;
  background-size: 100%;
  padding-right: 91px;
  h4 {
    text-align: left;
    font: normal normal bold 16px/24px Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
  }
  h1 {
    text-align: left;
    font: normal normal normal 34px/45px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    text-align: left;
    font: normal normal normal 16px/24px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}

.workshop-card {
  width: 560px;
  height: 390px;
  background-color: blueviolet;
  margin-top: 40px;
  padding: 60px 60px 50px 60px;
  h1 {
    text-align: left;
    font: normal normal normal 34px/45px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  p {
    text-align: left;
    font: normal normal normal 16px/24px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  &:nth-of-type(1n) {
    background: url("../../assets/images/workshop-bg-1.png") center no-repeat;
  }
  &:nth-of-type(2n) {
    background: url("../../assets/images/workshop-bg-2.png") center no-repeat;
  }
  &:nth-of-type(3n) {
    background: url("../../assets/images/workshop-bg-3.png") center no-repeat;
  }
  &:nth-of-type(4n) {
    background: url("../../assets/images/workshop-bg-4.png") center no-repeat;
  }
}

.workshop-list {
  max-width: 1366px;
  .workshop-card:nth-of-type(even) {
    margin-left: 46px;
  }
  margin-bottom: 80px;
}

.testimonials {
  min-height: 700px;
  width: 100%;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  &-content.col {
    max-width: 1200px;
  }
  padding-top: 70px;
  h1 {
    text-align: center;
    font: normal normal normal 34px/45px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
  }
  h3 {
    text-align: left;
    font: normal normal bold 16px/24px Raleway;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 40px;
  }
  h4 {
    text-align: left;
    font: normal normal normal 16px/24px Raleway;
    letter-spacing: -0.08px;
    color: #000000;
    opacity: 1;
    margin-top: 20px;
  }
  .testimonial {
    margin-top: 60px;
  }
  p {
    text-align: left;
    font: normal normal normal 24px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .slick-dots {
    bottom: -50px;
  }

  .slick-dots li button:before {
    font-size: 10px;
  }

  .slick-dots li.slick-active button:before {
    font-size: 14px;
  }
}

.workshops-faq {
  h1 {
    text-align: center;
    font: normal normal normal 34px/45px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 70px;
    margin-bottom: 60px;
  }
  margin-bottom: 75px;
}

.faq-item {
  &.card {
    width: 1000px;
    margin-bottom: 10px;
    background: #fafafa 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  &__title {
    text-align: left;
    font: normal normal normal 24px/34px Roboto Slab;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
  }
  &__content {
    margin-top: 20px;
  }

  &__toggle {
    border: 0;
    width: 30px;
    height: 30px;
    background-color: inherit;
    transition: 0.3s ease;
  }
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  color: black;
  font-size: 64px;
  height: 64px;
}
