.promoted-workshop {
  margin: 0 7%;
  height: 26.25rem;
  background: url('../../assets/images/recommended_workshop.png') center
    no-repeat;
  background-size: 100%;
  padding-right: 5.687rem;
}

.workshop-card {
  width: 35rem;
  height: 24.375rem;
  background-color: blueviolet;
  margin-top: 2.5rem;
  padding: 3.75rem 3.75rem 3.125rem 3.75rem;
  &:nth-of-type(1n) {
    background: url('../../assets/images/workshop-bg-1.png') center no-repeat;
  }
  &:nth-of-type(2n) {
    background: url('../../assets/images/workshop-bg-2.png') center no-repeat;
  }
  &:nth-of-type(3n) {
    background: url('../../assets/images/workshop-bg-3.png') center no-repeat;
  }
  &:nth-of-type(4n) {
    background: url('../../assets/images/workshop-bg-4.png') center no-repeat;
  }
}

.workshop-list {
  .workshop-card:nth-of-type(even) {
    margin-left: 2.875rem;
  }
  margin-bottom: 5rem;
}

.testimonials {
  min-height: 43.75rem;
  width: 100%;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 1;
  &-content.col {
    max-width: 75rem;
  }
  padding-top: 4.375rem;
  h5 {
    margin-top: 3.125rem;
  }
  h6 {
    font: normal normal normal 1em/1.5rem Raleway;
    letter-spacing: -0.08px;
    margin-top: 1.25rem;
    text-transform: unset;
  }
  .testimonial {
    margin-top: 60px;
  }
  p {
    font: normal normal normal 1.5em Roboto Slab;
    letter-spacing: 0px;
  }

  .slick-dots {
    bottom: -3.125rem;
  }

  .slick-dots li button:before {
    font-size: 0.625rem;
  }

  .slick-dots li.slick-active button:before {
    font-size: 0.875rem;
  }
}

.workshops-faq {
  h3 {
    margin-top: 4.375rem;
    margin-bottom: 3.75rem;
  }
  margin-bottom: 4.687rem;
}

.faq-item {
  &.card {
    width: 62.5rem;
    margin-bottom: 0.625rem;
    background: #fafafa 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  &__content {
    margin-top: 1.25rem;
  }

  &__toggle {
    border: 0;
    width: 2rem;
    height: 2rem;
    background-color: inherit;
    transition: 0.3s ease;
  }
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  color: black;
  font-size: 4rem;
  height: 4rem;
}
